<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script type="text/javascript">

        // var frm = document.getElementById("frm");


        // frm.submit();

        var rowclick = function (e) {


            HighlightRow(e)

            console.log(e.children)
            console.log(e.children[3].defaultValue)
            console.log(e.children[4].defaultValue)

            sendAjax_top('/users/detail_top', { custCode: e.children[3].defaultValue, seq: e.children[4].defaultValue })

            sendAjax_right('/users/detail_right', {custCode: e.children[3].defaultValue, seq: e.children[4].defaultValue})

            sendAjax('/users/detail', { custCode: e.children[3].defaultValue, seq: e.children[4].defaultValue })


        }
    </script>
    <link rel="shortcut icon" href="http://angangenc.co.kr/kr/favicon.png" />

    <style type="text/css">
        body {
            background: #fff;
        }

        .bluetop {
            border-collapse: collapse;
            border-top: 3px solid rgba(170, 25, 56, 0.856);
        }

        .bluetop th {
            color: rgba(170, 25, 56, 0.856);
            background: #fcf1f5;
        }

        .bluetop th,
        .bluetop td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .bluetop th:first-child,
        .bluetop td:first-child {
            border-left: 0;
        }

        .bluetop th:last-child,
        .bluetop td:last-child {
            border-right: 0;
        }

        .container {
            width: 100%;
            position: relative;
            height: 130px;
            place-items: center;
            text-align: center;
            display: grid;
            min-height: 100vh;
        }
    </style>

</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <script>

        function HighlightRow(obj) {

            var table = document.getElementById("left_table");
            var tr = table.getElementsByTagName("tr");

            for (var i = 0; i < tr.length; i++) {
                tr[i].style.background = "white";
            }
            obj.style.backgroundColor = "#FCE6E0";


        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function sendAjax_top(url, data) {
            data = JSON.stringify(data);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(data);

            xhr.addEventListener('load', function () {
                var result = JSON.parse(xhr.responseText);

                if (document.getElementById("toptable")) {
                    console.log('already toptable')
                    //document.getElementById("toptable").remove();
                    var reMov = document.getElementById("toptable")
                    reMov.parentNode.removeChild(reMov);
                } else {
                    console.log('toptable')
                }

                if (document.getElementById("middletable")) {
                    console.log('already middletable')
                    //document.getElementById("middletable").remove();
                    var reMov = document.getElementById("middletable")
                    reMov.parentNode.removeChild(reMov);
                } else {
                    console.log('middletable')
                }



                var table01 = document.createElement('TABLE');
                table01.id = "toptable";
                table01.className = "bluetop";
                table01.style.width = "500px";

                var th01 = document.createElement("TH");
                th01.innerHTML = "수분양자 성명";
                th01.style.width = "200px";
                th01.style.padding = "3px";
                th01.style.textAlign = "center";
                th01.colSpan = "2";


                var td01 = document.createElement("TD");
                td01.innerHTML = result[0]["custname"];
                td01.style.width = "300px";
                td01.style.padding = "3px";
                td01.style.textAlign = "center";


                var tr = document.createElement("TR");
                tr.appendChild(th01)
                tr.appendChild(td01)

                table01.appendChild(tr)


                var th02_r = document.createElement("TH");
                th02_r.innerHTML = "분양물건";
                th02_r.style.width = "100px"
                th02_r.style.padding = "3px";
                th02_r.style.textAlign = "center";
                th02_r.rowSpan = "4";

                var th02 = document.createElement("TH");
                th02.innerHTML = "건물명";
                th02.style.width = "100px";
                th02.style.padding = "3px";
                th02.style.textAlign = "center";

                var td02 = document.createElement("TD");
                td02.innerHTML = result[0]["shortname"];
                td02.style.width = "300px";
                td02.style.padding = "3px";
                td02.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th02_r)
                tr.appendChild(th02)
                tr.appendChild(td02)

                table01.appendChild(tr)




                var th03 = document.createElement("TH");
                th03.innerHTML = "주소";
                th03.style.width = "100px";
                th03.style.padding = "3px";
                th03.style.textAlign = "center";

                var td03 = document.createElement("TD");
                td03.innerHTML = result[0]["address"];
                td03.style.width = "300px";
                td03.style.padding = "3px";
                td03.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th03)
                tr.appendChild(td03)

                table01.appendChild(tr)

                var th04 = document.createElement("TH");
                th04.innerHTML = "용도";
                th04.style.width = "100px";
                th04.style.padding = "3px";
                th04.style.textAlign = "center";

                var td04 = document.createElement("TD");
                td04.innerHTML = result[0]["house_name"];
                td04.style.width = "300px";
                td04.style.padding = "3px";
                td04.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th04)
                tr.appendChild(td04)

                table01.appendChild(tr)


                var th05 = document.createElement("TH");
                th05.innerHTML = "동/호";
                th05.style.width = "100px";
                th05.style.padding = "3px";
                th05.style.textAlign = "center";

                var td05 = document.createElement("TD");
                td05.innerHTML = result[0]["out_buildno"] + " / " + result[0]["out_houseno"];
                td05.style.width = "300px";
                td05.style.padding = "3px";
                td05.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th05)
                tr.appendChild(td05)

                table01.appendChild(tr)


                var th07 = document.createElement("TH");
                th07.innerHTML = "공급가액";
                th07.style.width = "100px";
                th07.style.padding = "3px";
                th07.style.textAlign = "center";
                th07.colSpan = "2";

                var td07 = document.createElement("TD");
                td07.innerHTML = numberWithCommas(result[0]["supply_amt"]);
                td07.style.width = "300px";
                td07.style.padding = "3px";
                td07.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th07)
                tr.appendChild(td07)

                table01.appendChild(tr)


                var th08 = document.createElement("TH");
                th08.innerHTML = "부가세";
                th08.style.width = "100px";
                th08.style.padding = "3px";
                th08.style.textAlign = "center";
                th08.colSpan = "2";

                var td08 = document.createElement("TD");
                td08.innerHTML = numberWithCommas(result[0]["vat_amt"]);
                td08.style.width = "300px";
                td08.style.padding = "3px";
                td08.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(th08)
                tr.appendChild(td08)

                table01.appendChild(tr)



                var th06 = document.createElement("TH");
                th06.innerHTML = "총분양대금";
                th06.style.width = "200px";
                th06.style.padding = "3px";
                th06.style.textAlign = "center";
                th06.colSpan = "2";

                var td06 = document.createElement("TD");
                td06.innerHTML = numberWithCommas(result[0]["htot_amt"]);
                td06.style.width = "300px";
                td06.style.padding = "3px";
                td06.style.textAlign = "center";


                var tr = document.createElement("TR");
                tr.appendChild(th06)
                tr.appendChild(td06)

                table01.appendChild(tr)

                table_top.appendChild(table01)


                var table = document.createElement('TABLE');
                table.id = "middletable"
                table.className = "bluetop"
                table.style.width = "500px"

                var td0 = document.createElement("TH");
                td0.innerHTML = "구분";
                td0.style.width = "50px"
                td0.style.padding = "3px";
                td0.style.textAlign = "center";

                var td1 = document.createElement("TH");
                td1.innerHTML = "은행";
                td1.style.width = "250px"
                td1.style.padding = "3px";
                td1.style.textAlign = "center";


                var td2 = document.createElement("TH");
                td2.innerHTML = "금액";
                td2.style.width = "100px"
                td2.style.padding = "3px";
                td2.style.textAlign = "center";

                var td3 = document.createElement("TH");
                td3.innerHTML = "금리";
                td3.style.width = "100px"
                td3.style.padding = "3px";
                td3.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)

                table.appendChild(tr)

                var td0 = document.createElement("TD");
                td0.innerHTML = "대출";
                td0.style.width = "50px"
                td0.style.padding = "3px";
                td0.style.textAlign = "center";

                var td1 = document.createElement("TD");
                td1.innerHTML = result[0]["daechul_bankname"];
                td1.style.width = "250px"
                td1.style.padding = "3px";
                td1.style.textAlign = "center";


                var td2 = document.createElement("TD");
                if (result[0]["daechul_amt"]) {
                    td2.innerHTML = numberWithCommas(result[0]["daechul_amt"]);
                }
                else {
                    td2.innerHTML = 0;
                }


                td2.style.width = "100px"
                td2.style.padding = "3px";
                td2.style.textAlign = "right";

                var td3 = document.createElement("TD");
                td3.innerHTML = result[0]["daechul_rate_text"];
                td3.style.width = "100px"
                td3.style.padding = "3px";
                td3.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)

                table.appendChild(tr)

                table_middle.appendChild(table)

            });

        }

        //send함수 'http://localhost:3000/ajax'주소에 inputdata를 보냅니다.
        function sendAjax(url, data) {

            data = JSON.stringify(data);

            //data에 inputdata를 json형식으로 넣고 이를 xmlhttprequest를 통해 post방식으로 보냅니다.
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(data);

            //서버에서 결과가 도착하면 그것을 result div에 입력합니다.
            xhr.addEventListener('load', function () {
                var result = JSON.parse(xhr.responseText);
                var html = '';

                var agreeamt_sum = 0;
                var receiptamt_sum = 0;
                var delayamt_sum = 0;
                var discntamt_sum = 0;
                var real_receiptamt_sum = 0;

                if (document.getElementById("detailTable")) {
                    console.log('already detailTable')
                    //document.getElementById("detailTable").remove();
                    var reMov = document.getElementById("detailTable")
                    reMov.parentNode.removeChild(reMov);

                } else {
                    console.log('detailTable')
                }


                var table = document.createElement('TABLE');
                table.id = "detailTable"
                table.className = "bluetop"
                table.style.width = "1050px"

                var td0 = document.createElement("TH");
                td0.innerHTML = "완납";
                td0.style.width = "50px"
                td0.style.padding = "3px";
                td0.style.textAlign = "center";

                var td1 = document.createElement("TH");
                td1.innerHTML = "구분";
                td1.style.width = "100px"
                td1.style.padding = "3px";
                td1.style.textAlign = "center";


                var td2 = document.createElement("TH");
                td2.innerHTML = "약정일";
                td2.style.padding = "3px";
                td2.style.textAlign = "center";

                var td3 = document.createElement("TH");
                td3.innerHTML = "약정금액";
                td3.style.width = "90px"
                td3.style.textAlign = "center";

                var td4 = document.createElement("TH");
                td4.innerHTML = "납입횟수";
                td4.style.padding = "3px";
                td4.style.textAlign = "center";

                var td5 = document.createElement("TH");
                td5.innerHTML = "입금일";
                td5.style.padding = "3px";
                td5.style.textAlign = "center";

                var td6 = document.createElement("TH");
                td6.innerHTML = "입금금액";
                td6.style.width = "90px"
                td6.style.textAlign = "center";

                var td7 = document.createElement("TH");
                td7.innerHTML = "연체일수";
                td7.style.padding = "3px";
                td7.style.textAlign = "center";

                var td8 = document.createElement("TH");
                td8.innerHTML = "연체료";
                td8.style.padding = "3px";
                td8.style.textAlign = "center";

                var td9 = document.createElement("TH");
                td9.innerHTML = "할인일수";
                td9.style.padding = "3px";
                td9.style.textAlign = "center";

                var td10 = document.createElement("TH");
                td10.innerHTML = "미납금액";
                td10.style.padding = "3px";
                td10.style.textAlign = "center";

                var td11 = document.createElement("TH");
                td11.innerHTML = "실납입액";
                td11.style.width = "90px"
                td11.style.textAlign = "center";

                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)
                tr.appendChild(td4)
                tr.appendChild(td5)
                tr.appendChild(td6)
                tr.appendChild(td10)
                tr.appendChild(td7)
                tr.appendChild(td8)
                //tr.appendChild(td9)
                tr.appendChild(td11)

                table.appendChild(tr)

                for (key in result) {

                    var td0 = document.createElement("TD");
                    if (result[key]["perpecttag"] == 'Y') {
                        td0.innerHTML = "완납"
                    } else if (result[key]["perpecttag"] == 'O') {
                        td0.innerHTML = "예정"
                    } else {
                        td0.innerHTML = "미납"
                    }
                    /*td0.innerHTML = result[key]["perpecttag"];*/
                    td0.style.padding = "3px";
                    td0.style.textAlign = "center";


                    var td1 = document.createElement("TD");
                    td1.innerHTML = result[key]["agree_name"];
                    td1.style.padding = "3px";
                    td1.style.textAlign = "center";

                    var td2 = document.createElement("TD");
                    td2.innerHTML = result[key]["agreedate"].substr(0, 10);
                    td2.style.padding = "3px";
                    td2.style.textAlign = "center";

                    var td3 = document.createElement("TD");
                    td3.innerHTML = numberWithCommas(result[key]["agreeamt"]);
                    td3.style.padding = "3px";
                    td3.style.textAlign = "right";

                    var td4 = document.createElement("TD");
                    td4.innerHTML = result[key]["times"];
                    td4.style.padding = "3px";
                    td4.style.textAlign = "center";

                    var td5 = document.createElement("TD");
                    if (result[key]["receiptdate"]) {
                        td5.innerHTML = result[key]["receiptdate"].substr(0, 10);
                    } else {
                        td5.innerHTML = result[key]["receiptdate"];
                    }
                    td5.style.padding = "3px";
                    td5.style.textAlign = "center";

                    var td6 = document.createElement("TD");
                    td6.innerHTML = numberWithCommas(result[key]["receiptamt"]);
                    td6.style.padding = "3px";
                    td6.style.textAlign = "right";

                    var td7 = document.createElement("TD");
                    td7.innerHTML = result[key]["delaydays"];
                    td7.style.padding = "3px";
                    td7.style.textAlign = "center";

                    var td8 = document.createElement("TD");
                    td8.innerHTML = numberWithCommas(result[key]["delayamt"]);
                    td8.style.padding = "3px";
                    td8.style.textAlign = "right";

                    var td9 = document.createElement("TD");
                    td9.innerHTML = result[key]["discntdays"];
                    td9.style.padding = "3px";
                    td9.style.textAlign = "center";

                    var td10 = document.createElement("TD");
                    if (result[key]["perpecttag"] == 'Y') {
                        td10.innerHTML = "0"
                    } else if (result[key]["perpecttag"] == 'O') {
                        td10.innerHTML = "0"
                    } else {
                        td10.innerHTML = numberWithCommas(result[key]["agreeamt"] - result[key]["receiptamt"]);
                    }
                    td10.style.padding = "3px";
                    td10.style.textAlign = "right";

                    var td11 = document.createElement("TD");
                    td11.innerHTML = numberWithCommas(result[key]["real_receiptamt"]);
                    td11.style.padding = "3px";
                    td11.style.textAlign = "right";

                    var tr = document.createElement("TR");
                    tr.appendChild(td0)
                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)
                    tr.appendChild(td5)
                    tr.appendChild(td6)
                    tr.appendChild(td10)
                    tr.appendChild(td7)
                    tr.appendChild(td8)
                    //tr.appendChild(td9)
                    tr.appendChild(td11)
                    table.appendChild(tr)

                    agreeamt_sum = agreeamt_sum + result[key]["agreeamt"]
                    receiptamt_sum = receiptamt_sum + result[key]["receiptamt"]
                    delayamt_sum = delayamt_sum + result[key]["delayamt"]

                    if (result[key]["perpecttag"] == 'Y') {
                        discntamt_sum = discntamt_sum
                    } else if (result[key]["perpecttag"] == 'O') {
                        discntamt_sum = discntamt_sum
                    } else {
                        discntamt_sum = discntamt_sum + result[key]["agreeamt"] - result[key]["receiptamt"]
                    }

                    real_receiptamt_sum = real_receiptamt_sum + result[key]["real_receiptamt"]
                }



                var td0 = document.createElement("TD");

                td0.innerHTML = "합계"
                td0.style.padding = "3px";
                td0.style.textAlign = "center"
                td0.colSpan = "3";


                var td3 = document.createElement("TD");
                td3.innerHTML = numberWithCommas(agreeamt_sum);
                td3.style.padding = "3px";
                td3.style.textAlign = "right";

                var td4 = document.createElement("TD");
                td4.innerHTML = "";
                td4.style.padding = "3px";
                td4.style.textAlign = "center";

                var td5 = document.createElement("TD");
                td5.innerHTML = "";
                td5.style.padding = "3px";
                td5.style.textAlign = "center";

                var td6 = document.createElement("TD");
                td6.innerHTML = numberWithCommas(receiptamt_sum);
                td6.style.padding = "3px";
                td6.style.textAlign = "right";

                var td7 = document.createElement("TD");
                td7.innerHTML = "";
                td7.style.padding = "3px";
                td7.style.textAlign = "center";

                var td8 = document.createElement("TD");
                td8.innerHTML = numberWithCommas(delayamt_sum);
                td8.style.padding = "3px";
                td8.style.textAlign = "right";

                var td9 = document.createElement("TD");
                td9.innerHTML = "";
                td9.style.padding = "3px";
                td9.style.textAlign = "center";

                var td10 = document.createElement("TD");
                td10.innerHTML = numberWithCommas(discntamt_sum);
                td10.style.padding = "3px";
                td10.style.textAlign = "right";

                var td11 = document.createElement("TD");
                td11.innerHTML = numberWithCommas(real_receiptamt_sum);
                td11.style.padding = "3px";
                td11.style.textAlign = "right";

                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td3)
                tr.appendChild(td4)
                tr.appendChild(td5)
                tr.appendChild(td6)
                tr.appendChild(td10)
                tr.appendChild(td7)
                tr.appendChild(td8)
                //tr.appendChild(td9)
                tr.appendChild(td11)
                table.appendChild(tr)


                setTable.appendChild(table)



                //document.getElementById('detail').appendChild(html);
                //  console.log(xhr.responseText);

                //document.querySelector(".result").innerHTML = xhr.responseText
            });
        }


        function sendAjax_right(url, data) {
             data = JSON.stringify(data);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(data);

            xhr.addEventListener('load', function () {
                if (xhr.responseText != "error page"){
                    var result = JSON.parse(xhr.responseText);
                }
                var html = '';
                var minab_sum = 0;
                var delayamt_sum = 0;
                var total_sum = 0;

                if (document.getElementById("righttable")) {
                    console.log('already righttable')
                    //document.getElementById("righttable").remove();
                    var reMov = document.getElementById("righttable")
                    reMov.parentNode.removeChild(reMov);

                } else {
                    console.log('righttable')
                }

                var table = document.createElement('TABLE');
                table.id = "righttable"
                table.className = "bluetop"
                table.style.width = "500px"

                var td0 = document.createElement("TH");
                td0.innerHTML = "구분";
                td0.style.width = "100px"
                //td0.style.padding = "3px";
                td0.style.textAlign = "center";

                var td1 = document.createElement("TH");
                td1.innerHTML = "미납금액";
                td1.style.width = "150px"
                //td1.style.padding = "3px";
                td1.style.textAlign = "center";

                var td2 = document.createElement("TH");
                td2.innerHTML = "연체료";
                td2.style.width = "150px"
                td2.style.textAlign = "center";

                var td3 = document.createElement("TH");
                td3.innerHTML = "합계";
                td3.style.width = "150px"
                td3.style.textAlign = "center";


                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)
                table.appendChild(tr)
                
                for (key in result) {
                    var td1 = document.createElement("TD");
                    td1.innerHTML = result[key]["agree_name"];
                    td1.style.padding = "3px";
                    td1.style.textAlign = "center";

                    var td2 = document.createElement("TD");
                    td2.innerHTML = numberWithCommas(result[key]["minab_amt"]);
                    td2.style.padding = "3px";
                    td2.style.textAlign = "right";

                    var td3 = document.createElement("TD");
                    td3.innerHTML = numberWithCommas(result[key]["delayamt"]);
                    td3.style.padding = "3px";
                    td3.style.textAlign = "right";

                    var td4 = document.createElement("TD");
                    td4.innerHTML = numberWithCommas(result[key]["minab_amt"] + result[key]["delayamt"]);
                    td4.style.padding = "3px";
                    td4.style.textAlign = "right";

                    var tr = document.createElement("TR");
                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)
                    table.appendChild(tr)

                    minab_sum = minab_sum + result[key]["minab_amt"]
                    delayamt_sum = delayamt_sum + result[key]["delayamt"]
                }
                
                var td0 = document.createElement("TD");
                td0.innerHTML = "합계"
                td0.style.padding = "3px";
                td0.style.textAlign = "center"
                //td0.colSpan = "3";


                var td4 = document.createElement("TD");
                td4.innerHTML = numberWithCommas(minab_sum);
                td4.style.padding = "3px";
                td4.style.textAlign = "right";

                var td5 = document.createElement("TD");
                td5.innerHTML = numberWithCommas(delayamt_sum);
                td5.style.padding = "3px";
                td5.style.textAlign = "right";

                total_sum = minab_sum + delayamt_sum

                var td6 = document.createElement("TD");
                td6.innerHTML = numberWithCommas(total_sum);
                td6.style.padding = "3px";
                td6.style.textAlign = "right";

                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td4)
                tr.appendChild(td5)
                tr.appendChild(td6)
                table.appendChild(tr)





                var td0 = document.createElement("TD");
                td0.innerHTML = "입금계좌 : "
                td0.style.padding = "3px";
                td0.style.textAlign = "center"


                var td4 = document.createElement("TD");
                td4.style.padding = "3px";
                td4.style.textAlign = "center";
                td4.colSpan = "3"


                if (xhr.responseText != "error page"){
                td4.innerHTML = result[0]["bankname"] + "&nbsp&nbsp&nbsp[" + result[0]["depositno"]  + "]&nbsp&nbsp&nbsp"+ result[0]["depositno_man"];
                }


                var tr = document.createElement("TR");
                tr.appendChild(td0)
                tr.appendChild(td4)
                table.appendChild(tr)

                Table_Right.appendChild(table)

            });
        }

    </script>


    <form id="frm">
        <input type="hidden" id="a" name="out_buildno">
        <input type="hidden" id="b" name="out_houseno">
    </form>

    <div style=" border:1px solid #fcf1f5; float:left; height: 100%; margin-right: 50px; margin-bottom: 350px;">
        <table class="bluetop" id="left_table">
            <tr>
                <th>현장</th>
                <th>동</th>
                <th>호수</th>
            </tr>
            <% for(var i=0; i<result.length; i++) { var data=result[i]; %>
                <tr onclick="rowclick(this)" style="cursor:pointer;">
                    <td>
                        <%=data.SHORTNAME%>
                    </td>
                    <td>
                        <%=data.out_buildno%>
                    </td>
                    <td>
                        <%=data.out_houseno%>
                    </td>
                    <input type="hidden" value="<%=data.custcode%>"></input>
                    <input type="hidden" value="<%=data.seq%>"></input>
                </tr>
                <%}%>
        </table>
    </div>
    <div id="table_middle" style="margin-bottom: 10px; float: left; margin-right: 30px;">   
        <div id="table_top" style="margin-bottom: 10px;">
        </div>
    </div>
    <div style="margin-bottom: 10px; float:left; height: 350px; width: 400px;">
        <table id="Table_Right"></table>
    </div>
    <div id="setTable" style="float:left; border:1px solid #fcf1f5; "></div>
    <div style="
                width: 100%;
                height: 200px;
                background-image: URL(http://angangenc.co.kr/kr/assets/img/logo/svg/logo-en-color.svg);
                background-repeat: no-repeat;
                background-size: 30% 30%;
                opacity: 0.3; filter: alpha(opacity=30);
                background-position: bottom;
                margin-top: 600px;
                ">
    </div>

</body>

</html>